*{
   font-family:Georgia, 'Times New Roman', Times, serif ;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
nav{
    background: black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

.product-detail {
    padding: 80px;
}

.detail-box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.detail-box img {
    width: 300px;
}

.detail-text {
    max-width: 500px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}


@media (max-width: 768px) {

    .detail-box {
        flex-direction: column;
        text-align: center;
    }

    .detail-box img {
        width: 80%;
    }
}
