*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    background: black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.logo{
    letter-spacing: 2px;
}
.hero{
    height: 90vh;
    background: #111;
    color: white;
    text-align: center;
    padding-top: 200px;
}
.hero h1{
    font-size: 50px;
}
.btn{
    background: gold;
    padding: 3px 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
   
}
.products{
    padding: 60px;
    text-align: center;
}
.product-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.card{
    border: 1px solid #ccc;
    justify-content: center;
    margin-top: 40px;
}
.card img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.about, .contact{
    padding: 80px;
    text-align: center;
}