table{
    border:solid white 2px;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;

}
table,th{
    border:2px solid rgb(255, 255, 255);    
    height:30px
    
}
*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.nav {
    background: black;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th{
    color: aliceblue;
    letter-spacing: 2px;
}
table tr th a {
    color: white;
    text-decoration: none;
}
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('perfume.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 200px;
}
.hero h1 {
    font-size: 50px;
}
.hero p {
    margin: 20px 0;
    font-size: 18px;
}
.products {
    padding: 60px;
    text-align: center;
}
.product-box {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 40px;
}
.card {
    border: 1px solid #ccc;
    padding: 30px;
    width: 200px;
    margin: 0 15px;
}
.card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

